
    <div >
        <p-card>
            <div class="d-flex" >
                <p-floatLabel style="width: 30%">
                    <input id="From:" type="text" pInputText class="form-control" style="width: 99%; margin-right: 2px; background-color: #f1f2f6; height: 3rem"/>
                    <label for="From:">From: City, Station</label>
                </p-floatLabel>
                <p-floatLabel style="width: 30%">
                    <input id="To:" type="text" pInputText  class="form-control" style="width: 99%; background-color: #f1f2f6;  height: 3rem; margin-right: 2px;"/>
                    <label for="To:">To: City, Station</label>
                </p-floatLabel>
                <p-floatLabel style="margin-right: 5px; width: 30%;" >
                    <!-- <input id="username" type="text" pInputText  class="form-control " style="width: 99%; background-color: #f1f2f6;  height: 3rem; margin-right: 5px;"/> -->
                    <p-calendar [style]="{ 'width': '99%', 'background-color': '#f1f2f6', 'height': '3rem' }"></p-calendar>
                    <label for="username">Calendar</label>
                </p-floatLabel>
                <button  class="btn text-white"  style="background-color: #1e4620; width: 15%;font-weight: 500;">Search</button>
            </div>
        </p-card>
    </div>

    