<h1 style="margin-top: 30px; font-weight:550; font-size: 40px;" class="">Schedule Info</h1>
<div class="card" style="margin-top: 30px;">
    <p-table [value]="SchedulesData" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="i" style="width:20%">
                    S.No<p-sortIcon field="i" />
                </th>
                <th pSortableColumn="train_id" style="width:20%">
                    Train ID<p-sortIcon field="train_id" />
                </th>
                <th pSortableColumn="sch_id" style="width:20%">
                    Scedule ID <p-sortIcon field="sch_id" />
                </th>
                <th pSortableColumn="start" style="width:20%">
                    Station (Depart) <p-sortIcon field="start" />
                </th>
                <th pSortableColumn="end" style="width:20%">
                    Station (Arrival) <p-sortIcon field="end" />
                </th>
                <th pSortableColumn="departure_time" style="width:20%">
                    Time (Depart) <p-sortIcon field="departure_time" />
                </th>
                <th pSortableColumn="arrival_time" style="width:20%">
                    Time (Arrival) <p-sortIcon field="arrival_time" />
                </th>


                <th pSortableColumn="category" style="width:20%">
                </th>
                <th pSortableColumn="quantity" style="width:20%">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scheduleData let-i="rowIndex">
            <tr>
                <td>{{ i+1}}</td>
                <td>{{ scheduleData.train_id}}</td>
                <td>{{ scheduleData.sch_id}}</td>
                <td>{{ scheduleData.start}}</td>
                <td>{{ scheduleData.end}}</td>
                <td>{{ scheduleData.departure_time}}</td>
                <td>{{ scheduleData.arrival_time}}</td>
                <!-- <td style="padding-left: 25px;">{{ passengerData }}</td> -->
                <!-- <td>
                    <button class="btn btn-primary" style="width: 10rem;" (click)="openEdit(scheduleData.sch_id)"> Edit</button>
                </td> -->
                <!-- <td>
                    <button class="btn btn-danger" style="width: 10rem;"> Delete</button>
                </td> -->
            </tr>
        </ng-template>
    </p-table>
</div>