<section class="shadow">
    <div style="padding: 2% 10% 2% 10%;">
        <div class="d-flex justify-content-between align-items-center ">
            <h3 style="font-weight:900; color: #1e4620; font-size: 40px;" >RMS</h3>
            <ul class="list-unstyled ">
                <li ><button class="btn" style="color: #1e4620;">Sign in</button></li>
            </ul>
        </div>
        <div class="pt-3">
            <div class="d-flex" >
                <p-floatLabel style="width: 30%">
                    <input id="From:" type="text" pInputText class="form-control" style="width: 99%; margin-right: 2px; background-color: #f1f2f6; height: 3rem"/>
                    <label for="From:">From: City, Station</label>
                </p-floatLabel>
                <p-floatLabel style="width: 30%">
                    <input id="To:" type="text" pInputText  class="form-control" style="width: 99%; background-color: #f1f2f6;  height: 3rem; margin-right: 2px;"/>
                    <label for="To:">To: City, Station</label>
                </p-floatLabel>
                <p-floatLabel style="margin-right: 5px; width: 30%;" >
                    <!-- <input id="username" type="text" pInputText  class="form-control " style="width: 99%; background-color: #f1f2f6;  height: 3rem; margin-right: 5px;"/> -->
                    <p-calendar [style]="{ 'width': '99%', 'background-color': '#f1f2f6', 'height': '3rem' }"></p-calendar>
                    <label for="username">Calendar</label>
                </p-floatLabel>
                <button  class="btn text-white"  style="background-color: #1e4620; width: 15%;font-weight: 500;">Search</button>
            </div>
        </div>
    </div>
</section>
<!-- style="background-color: #f1f2f6; margin-top: 0.5%;" -->
<section style="margin-top: 0.7%; background-color: #f1f2f6;padding: 2% 8% 100% 8%;" >
    <div class="card">
        
    <p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Trains">
        <div class="card flex justify-content-center">
            <p-card header="Simple Card">
                <p class="m-0">
                    trains dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                </p>
            </p-card>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Booked">
        <div class="card flex justify-content-center">
            <p-card header="Simple Card">
                <p class="m-0">
                    Booked dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                    quas!
                </p>
            </p-card>
        </div>
    </p-tabPanel>
    </p-tabView>
    </div>
</section>

