
  .custom-tab-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .custom-tab {
    height: 452px;
    overflow-y: scroll;
}

.calendar-input {
  width: 99%;
  height: 3rem;
  background-color: #f1f2f6;
}