<section class="shadow">
    <div style="padding: 2% 10% 2% 10%;">
        <div class="d-flex justify-content-between align-items-center ">
            <h3 style="font-weight:900; color: #1e4620; font-size: 40px;" >RMS</h3>
            <ul class="list-unstyled ">
                <li ><button class="btn" style="color: #1e4620;" (click)="showDialog()">{{gotData? data.UserName: "Login"}}</button></li>
            </ul>
        </div>
        <div class="pt-3" [formGroup]="ticketInput">
            <div class="d-flex" >
                <p-floatLabel style="width: 30%">
                    <input id="From:" [disabled]="isDisabled" pInputText class="form-control" formControlName="From" style="width: 99%; margin-right: 2px; background-color: #f1f2f6; height: 3rem"/>
                    <!-- <label for="From:">From: City, Station</label> -->
                </p-floatLabel>
                
                <!-- <div class="flex flex-column gap-2">
                    <label >From</label>
                    <input 
                        class="form-control"
                        pInputText 
                        style="width: 99%; margin-right: 2px; background-color: #f1f2f6; height: 3rem"
                        />
                        
                </div> -->
                <p-floatLabel style="width: 30%">
                    <input type="text" pInputText formControlName="To" [disabled]="true" id="disabled-input" class="form-control" style="width: 99%; background-color: #f1f2f6;  height: 3rem; margin-right: 2px;"/>
                    <!-- <label for="To:">To: City, Station</label> -->
                </p-floatLabel>
                <p-floatLabel style="margin-right: 5px; width: 30%;" >
                    <!-- <input formControlName="Date"  type="text" pInputText  class="form-control" [disabled]="true" [style]="{ 'width': '99%', 'background-color': '#f1f2f6', 'height': '3rem' }"/> -->
                    <p-calendar formControlName="Date" [disabled]="true" [style]="{ 'width': '99%', 'background-color': '#f1f2f6', 'height': '3rem' }"></p-calendar>
                    <!-- <label for="username">Calendar</label> -->
                </p-floatLabel>
                <button [disabled]="isDisabled" class="btn text-white"  style="background-color: #1e4620; width: 15%;font-weight: 500;">Search</button>
            </div>
        </div>
    </div>
</section>
<!-- style="background-color: #f1f2f6; margin-top: 0.5%;" -->
<section style="margin-top: 0.7%; background-color: #f1f2f6;padding: 2% 8% 30% 8%;" >
    <div class="card">
        
    <p-tabView [(activeIndex)]="activeIndex" styleClass="custom-tab">
    <p-tabPanel header="Trains" >
        <div class="card flex justify-content-center">
            <p-card header="RMS">
                <div class="d-flex justify-content-around align-items-baseline">
                    <p><b style="color: #1e4620;">Train No:</b> {{trainsInfo.train_id}}</p>
                    <p><b style="color: #1e4620;">Departure:</b>  {{trainsInfo.start}}</p>
                    <p><b style="color: #1e4620;">Train Arrival:</b> {{trainsInfo.end}}</p>
                    <p><b style="color: #1e4620;">Departure Time:</b> {{trainsInfo.departure_time}}</p>
                    <p><b style="color: #1e4620;">Arrival Time:</b> {{trainsInfo.arrival_time}}</p>
                    <button  class="btn text-white"  style="background-color: #1e4620; width: 15%;font-weight: 500;" (click)="bookTicket()">Book</button>
                </div>
            </p-card>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Booked">
        <div class="card flex justify-content-center mb-4" *ngFor="let ticket of allUserBookedTickets">
            <p-card header="RMS">
                <div class="d-flex justify-content-around align-items-baseline" style="color: #1e4620;">
                    <p><b style="color: #1e4620;">Train No:</b> {{trainsInfo.train_id}}</p>
                    <p><b style="color: #1e4620;">Departure:</b>  {{trainsInfo.start}}</p>
                    <p><b style="color: #1e4620;">Train Arrival:</b> {{trainsInfo.end}}</p>
                    <p><b style="color: #1e4620;">Departure Time:</b> {{trainsInfo.departure_time}}</p>
                    <p><b style="color: #1e4620;">Arrival Time:</b> {{trainsInfo.arrival_time}}</p>
                    <button  class="btn text-white" [disabled]="isDisabled"  style="background-color: #1e4620; width: 15%;font-weight: 500;" >Book</button>
                </div>
            </p-card>
        </div>
    </p-tabPanel>
    </p-tabView>
    </div>
</section>

<div class="card flex justify-content-center">
    <p-dialog header="Log Out" [(visible)]="visible" [style]="{ width: '25rem' }">
        <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-primary " style="width: 7rem;" (click)="logOutUser()" >Log Out    </button>
        </div>
    </p-dialog>
</div>

