<div>
    <form [formGroup]="createTicket">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name">
          <p
          *ngIf="createTicket.get('name')?.hasError('required') && createTicket.get('name')?.touched" class="text-danger">Name is required</p>
        </div>
        <div class="mb-3">
          <label class="form-label">Gender</label>
          <input type="text" class="form-control" formControlName="gender">
          <p
          *ngIf="createTicket.get('gender')?.hasError('required') && createTicket.get('gender')?.touched"
          class="text-danger ">Gender is required</p>
        </div>
        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input type="text" class="form-control" formControlName="phone_number">
          <p
          *ngIf="createTicket.get('phone_number')?.hasError('required') && createTicket.get('phone_number')?.touched"
          class="text-danger pt-3">Phone Number is required</p>
          <p *ngIf="createTicket.get('phone_number')?.hasError('minlength') && createTicket.get('phone_number')?.touched" class="text-danger pt-3">
            Phone number must be at least 11 characters long
        </p>
        <p *ngIf="createTicket.get('phone_number')?.hasError('maxlength') && createTicket.get('phone_number')?.touched" class="text-danger pt-3">
            Phone number must be no more than 11 characters long
        </p>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="form-control btn text-white" style="background-color: #1e4620; width: 20%;" (click)="CreateUserTicket()">Submit</button>
        </div>
      </form>
</div>