<div>
    <form [formGroup]="ticketData">
        <div class="mb-3">
          <label class="form-label">Passenger Id </label>
          <input type="text" class="form-control" formControlName="passenger_id">
        </div>
        <div class="mb-3">
          <label class="form-label">Schedule Id</label>
          <input type="text" class="form-control" formControlName="sch_id">
        </div>
        <div class="mb-3">
          <label class="form-label">User Id</label>
          <input type="text" class="form-control" formControlName="User_ID">
        </div>
        <div class="mb-3">
          <label class="form-label">Date</label>
          <input type="date" class="form-control" formControlName="date">
        </div>
        <div class="mb-3">
          <label class="form-label">Seat Number</label>
          <input type="number" class="form-control" formControlName="seatNo">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="form-control btn text-white" style="background-color: #1e4620; width: 20%;">Submit</button>
        </div>
      </form>
</div>